header{
    background-color: black;
    color: white;
    padding:8px;
    height: 80px;

}
*{
    box-sizing: border-box;
    margin:0;
    font-family: 'Roboto', sans-serif;

}
.container{
    
        width:90%;
        height:800px;
        margin:60px;
    }
    
nav{
    width:100%;
    background-color: rgb(77, 71, 71);
    height: 50px;
    padding: 15px;
    

}
#span{
    color:black;
}
a{
    color:white;
    width: 100%;
    
    text-align: center;
    
}
.content{
    background-color:white;
    width:100%;
    
    box-sizing: border-box;
    
}
.section{
    background-color: white;
    width:75%;
    height:1200px;
    margin-bottom: 100px; 
    box-sizing: border-box;



}
.aside{

    background-color: gray;
    height: 1300px;
    width:25% ;
    float:right;
    margin: 0;
    padding:10px;
    box-sizing: border-box;
    

    
 } 
 #border{
     border-bottom: 1px solid rgb(85, 84, 84);
     border-width: 70%;
     margin-top: 20p;
                   
 }
 .links{
     color: rgb(151, 74, 19);
     padding:10px;
     text-decoration:none ;
     line-height: 25px;
     
    
 }
#footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top:8px;
}

#box{
    background-color: rgb(148, 143, 143);
    width:150px;
    height:150px;
    margin:20px; 
    display: inline-block;
    box-sizing: border-box;

 }
h3{
    display: inline-block;
    margin: 0;
    
}
.first{
    position:relative;
    bottom:170px;
    left:200px;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
 .second{
    display: inline-block;
}
span{
    color: chocolate;
}

#para{
    color: orangered;
}


#nav-links{
    
    border-right: 1px solid black;
    text-decoration: none;
     color: white;
     text-align: center;
     padding:10px;
     font-family: Arial, Helvetica, sans-serif;
        
        
    }
    


.side{
    margin-bottom: 20px;
    margin-top: 20px;
}
#sidebar-heading{
    margin-bottom: 10px;
}
#sidebar-para{
    margin-top: 20px;
    line-height: 25px;
}
#content-para{
    line-height: 25px;
}
.body-content{
    padding: 35px;
}
